
$primary-color: #00bcd4;
$accent-color: #1de9b6;
$background-dark: #0e0f11;
$background-light: #1c1f24;
$text-color: #e0f7fa;
$secondary-text: #b2ebf2;
$danger-color: #f44336;
$success-color: #4caf50;

$font-family: "FiraCode Nerd Font";

