[user]
	email = rozbr96@gmail.com
	name = Rosemilson
[alias]
	s = status
	d = diff
	di = diff
	df = diff
	dif = diff
	st = status
	sts = status
	l = log
	li = log --oneline
	co = checkout
	cb = checkout -b
	last = log -n 1
	l1 = log -n 1
	l2 = log -n 2
	l3 = log -n 3
	l4 = log -n 4
	l5 = log -n 5
	l6 = log -n 6
	l7 = log -n 7
	l8 = log -n 8
	l9 = log -n 9
	l10 = log -n 10
	l11 = log -n 11
	l12 = log -n 12
	l13 = log -n 13
	l14 = log -n 14
	l15 = log -n 15
	l16 = log -n 16
	l17 = log -n 17
	l18 = log -n 18
	l19 = log -n 19
	l20 = log -n 20
	l21 = log -n 21
	l22 = log -n 22
	l23 = log -n 23
	l24 = log -n 24
	l25 = log -n 25
	l26 = log -n 26
	l27 = log -n 27
	l28 = log -n 28
	l29 = log -n 29
	l30 = log -n 30
	l31 = log -n 31
	l32 = log -n 32
	l33 = log -n 33
	l34 = log -n 34
	l35 = log -n 35
	l36 = log -n 36
	l37 = log -n 37
	l38 = log -n 38
	l39 = log -n 39
	l40 = log -n 40
	l41 = log -n 41
	l42 = log -n 42
	l43 = log -n 43
	l44 = log -n 44
	l45 = log -n 45
	l46 = log -n 46
	l47 = log -n 47
	l48 = log -n 48
	l49 = log -n 49
	l50 = log -n 50
	l51 = log -n 51
	l52 = log -n 52
	l53 = log -n 53
	l54 = log -n 54
	l55 = log -n 55
	l56 = log -n 56
	l57 = log -n 57
	l58 = log -n 58
	l59 = log -n 59
	l60 = log -n 60
	l61 = log -n 61
	l62 = log -n 62
	l63 = log -n 63
	l64 = log -n 64
	l65 = log -n 65
	l66 = log -n 66
	l67 = log -n 67
	l68 = log -n 68
	l69 = log -n 69
	l70 = log -n 70
	l71 = log -n 71
	l72 = log -n 72
	l73 = log -n 73
	l74 = log -n 74
	l75 = log -n 75
	l76 = log -n 76
	l77 = log -n 77
	l78 = log -n 78
	l79 = log -n 79
	l80 = log -n 80
	l81 = log -n 81
	l82 = log -n 82
	l83 = log -n 83
	l84 = log -n 84
	l85 = log -n 85
	l86 = log -n 86
	l87 = log -n 87
	l88 = log -n 88
	l89 = log -n 89
	l90 = log -n 90
	l91 = log -n 91
	l92 = log -n 92
	l93 = log -n 93
	l94 = log -n 94
	l95 = log -n 95
	l96 = log -n 96
	l97 = log -n 97
	l98 = log -n 98
	l99 = log -n 99
	l100 = log -n 100
	li1 = log --oneline -n 1
	li2 = log --oneline -n 2
	li3 = log --oneline -n 3
	li4 = log --oneline -n 4
	li5 = log --oneline -n 5
	li6 = log --oneline -n 6
	li7 = log --oneline -n 7
	li8 = log --oneline -n 8
	li9 = log --oneline -n 9
	li10 = log --oneline -n 10
	li11 = log --oneline -n 11
	li12 = log --oneline -n 12
	li13 = log --oneline -n 13
	li14 = log --oneline -n 14
	li15 = log --oneline -n 15
	li16 = log --oneline -n 16
	li17 = log --oneline -n 17
	li18 = log --oneline -n 18
	li19 = log --oneline -n 19
	li20 = log --oneline -n 20
	li21 = log --oneline -n 21
	li22 = log --oneline -n 22
	li23 = log --oneline -n 23
	li24 = log --oneline -n 24
	li25 = log --oneline -n 25
	li26 = log --oneline -n 26
	li27 = log --oneline -n 27
	li28 = log --oneline -n 28
	li29 = log --oneline -n 29
	li30 = log --oneline -n 30
	li31 = log --oneline -n 31
	li32 = log --oneline -n 32
	li33 = log --oneline -n 33
	li34 = log --oneline -n 34
	li35 = log --oneline -n 35
	li36 = log --oneline -n 36
	li37 = log --oneline -n 37
	li38 = log --oneline -n 38
	li39 = log --oneline -n 39
	li40 = log --oneline -n 40
	li41 = log --oneline -n 41
	li42 = log --oneline -n 42
	li43 = log --oneline -n 43
	li44 = log --oneline -n 44
	li45 = log --oneline -n 45
	li46 = log --oneline -n 46
	li47 = log --oneline -n 47
	li48 = log --oneline -n 48
	li49 = log --oneline -n 49
	li50 = log --oneline -n 50
	li51 = log --oneline -n 51
	li52 = log --oneline -n 52
	li53 = log --oneline -n 53
	li54 = log --oneline -n 54
	li55 = log --oneline -n 55
	li56 = log --oneline -n 56
	li57 = log --oneline -n 57
	li58 = log --oneline -n 58
	li59 = log --oneline -n 59
	li60 = log --oneline -n 60
	li61 = log --oneline -n 61
	li62 = log --oneline -n 62
	li63 = log --oneline -n 63
	li64 = log --oneline -n 64
	li65 = log --oneline -n 65
	li66 = log --oneline -n 66
	li67 = log --oneline -n 67
	li68 = log --oneline -n 68
	li69 = log --oneline -n 69
	li70 = log --oneline -n 70
	li71 = log --oneline -n 71
	li72 = log --oneline -n 72
	li73 = log --oneline -n 73
	li74 = log --oneline -n 74
	li75 = log --oneline -n 75
	li76 = log --oneline -n 76
	li77 = log --oneline -n 77
	li78 = log --oneline -n 78
	li79 = log --oneline -n 79
	li80 = log --oneline -n 80
	li81 = log --oneline -n 81
	li82 = log --oneline -n 82
	li83 = log --oneline -n 83
	li84 = log --oneline -n 84
	li85 = log --oneline -n 85
	li86 = log --oneline -n 86
	li87 = log --oneline -n 87
	li88 = log --oneline -n 88
	li89 = log --oneline -n 89
	li90 = log --oneline -n 90
	li91 = log --oneline -n 91
	li92 = log --oneline -n 92
	li93 = log --oneline -n 93
	li94 = log --oneline -n 94
	li95 = log --oneline -n 95
	li96 = log --oneline -n 96
	li97 = log --oneline -n 97
	li98 = log --oneline -n 98
	li99 = log --oneline -n 99
	li100 = log --oneline -n 100
	r = restore
	res = reset --soft
	clear = clean -f
	undo = restore .
	a = add
	ad = add
	unstage = restore --staged
	c = commit
	cm = commit -m
	cam = commit -am
	cma = commit -am
	aa = add .
	discrd = restore
	discard = restore
	p = push
	pl = pull
	cob = checkout -b
	cedit = commit --amend -m
	ce = commit --amend -m
	m = merge
	sh = show
	b = branch
	cem = commit --amend -m
	br = branch -r
	cl = clone
	sub = submodule
	ss = status --short
	f = fetch
	sw = switch
	swc = switch -c
	sw- = switch -
	bd = branch --delete
	cc = commit --amend -C HEAD
	dc = diff --cached
	bm = branch -m
	bdd = branch -D
[init]
	defaultBranch = main
