
$primary_color: #3cf;

* {
  background-color: transparent;
}

.kb-layout, .kb-caps {
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 50px;
}

.clock-label {
  color: $primary_color;
  font-family: 'Firacode'
}

.workspace {
  color: $primary_color;
  border: 2px solid $primary_color;
  border-radius: 50%;

  &.active {
    color: black;
    background-color: $primary_color;
  }
}

.box {
  background-color: red;
}
