
* {
  background-color: transparent;
}

.kb-layout, .kb-caps {
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 50px;
}

.workspace {
  color: #33ccff;
  border: 2px solid #33ccff;
  border-radius: 10px;

  &.active {
    color: black;
    background-color: #33ccff;
  }
}
