
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  /* background-color: rgba(43, 48, 59, 0.5); */
  background-color: transparent;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-center *,
.modules-right * {
  background-color: #64727D;
}

.modules-right * {
  border-radius: 100px 0 0 100px;
  padding-left: 15px;
  padding-right: 20px;
  color: #ffffff;
  border: 1px solid black;
  margin-left: -15px;
}

.modules-center * {
  background-color: transparent;
  padding: 0 5px;
}

.modules-center > widget:first-child > * {
  border-radius: 100px 0 0 100px;
  background-color: #64727D;
  border-right: 1px solid black;
}

.modules-center > widget:last-child > * {
  border-radius: 0 100px 100px 0;
  background-color: #64727D;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-hostname {
  min-width: 80px;
  border-radius: 100px 0 0 100px;
  background-color: black;
  margin-left: -10px;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray menu {
  /* color: #0D73CC; */
  color: black;
  background-color: #DDDDDD;
}

#tray *:hover {
  color: #0D73CC;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#cpu {
  min-width: 180px;
}

#pulseaudio {
  min-width: 70px;
  margin-right: -10px;
}

#language {
  min-width: 120px;
}

